script.
    var socket = io()
        $(function() {
            $('form').submit(function() {
                socket.emit('chat message', $('#m').val());
                $('#m').val('');
                return false;
            });
            
            socket.on('chat message', function(msg) {
                var chat = document.getElementById("messages");
                var now = new Date(Date.now());
                var formatted = now.getHours() + ":" + now.getMinutes();
                $('#messages').append($('<li class="message me new_message"><div class="message__avatar"><img src="./images/avatar-1.png" alt=""></div><div class="message__text">'+ msg + '</div><div class="message__date">'+ formatted +'</div></li>'));
                // Скроллим вниз на высоту листа + высоту сообщения 
                // Узнаем высоту нового сообщения
                var height_new_message = $('#messages li.new_message').height();

                if (height_new_message) {
                    chat.scrollTop = messages.scrollHeight + height_new_message;
                } else {
                    chat.scrollTop = messages.scrollHeight;
                };
            
                 // Убираем класс после 2-х секунд
                setTimeout(function() {
                    $('#messages li.new_message').removeClass('new_message');
                }, 2000);
            });
            


                // Скроллим вниз на высоту листа + высоту сообщения 

                // Узнаем высоту footer'a
                var footer_height = $('footer').height();
                $('#messages').height(456 - footer_height);
        });
    $(document).ready(function() { 
        // Скроллим вниз на высоту листа + высоту сообщения 

                
        
        var chat = document.getElementById("messages"); 
        // Узнаем высоту нового сообщения
        var height_new_message = $('#messages li.new_message').height();

        if (height_new_message) {
            chat.scrollTop = messages.scrollHeight + height_new_message;
        } else {
            chat.scrollTop = messages.scrollHeight;
        } 
        $('textarea[max-rows]').each(function () {
            var textarea = $(this);
            var minRows = Number(textarea.attr('rows'));
            var maxRows = Number(textarea.attr('max-rows'));

            // Уменьшаем лист
            $(textarea).on('keyup', function() {
                var footer_height = $('.footer').height();
                var textarea_height = $(textarea).height(); 
                if (textarea < 64) {
                    $('#messages').height(456 - footer_height);
                } else {
                    $('#messages').height(424 - footer_height);
                };
            });
            // clone the textarea and hide it offscreen
            // TODO: copy all the styles
            var textareaClone = $('<textarea/>', {
                rows: minRows,
                maxRows: maxRows,
                class: textarea.attr('class')
            }).css({
                position: 'absolute',
                left: -$(document).width() * 2
            }).insertAfter(textarea);

            var textareaCloneNode = textareaClone.get(0);

            textarea.on('input', function () {
                // copy the input from the real textarea
                textareaClone.val(textarea.val());

                // set as small as possible to get the real scroll height
                textareaClone.attr('rows', 1);

                // save the real scroll height
                var scrollHeight = textareaCloneNode.scrollHeight;

                // increase the number of rows until the content fits
                for (var rows = minRows; rows < maxRows; rows++) {
                    textareaClone.attr('rows', rows);

                    if (textareaClone.height() > scrollHeight) {
                        break;
                    }
                }

                // copy the rows value back to the real textarea
                textarea.attr('rows', textareaClone.attr('rows'));
            }).trigger('input');
        });
    });