<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        title Тестовое 
        link(href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css' rel='stylesheet')
        link(href='./style.css' rel='stylesheet')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
        script(src='/socket.io/socket.io.js')
        include ./chatjs.pug
    body
        .wrapper
            .chat
                form(action="")
                    header
                        .header
                            .line
                            .header__info 
                                .header__info-avatar
                                    img(src="./images/avatar-2.png", alt="Токсикова Олька")
                                .header__info-name
                                    .name Токсикова Олька
                                    .city Днепропетровск
                                .header__info-rating
                                    include star.pug
                                    ul
                                        +star('true')
                                        +star('true')
                                        +star
                                        +star
                                        +star
                            .header__close
                                a()
                                    img(src="./images/close.png", alt="x")
                    main
                        ul#messages.messages_list
                            li.message
                                .message__avatar
                                    img(src="./images/avatar-2.png", alt="")
                                .message__text
                                    | Где взять на прокат вечернее красивое платье? А еще лучше дизайнерское! Предстоит участие в 
                                    a(href="#") мероприятии
                                    | , где все гости будут наверняка одеты в наряды "от кутюр", а у меня со средствами туговато, да и жалко на один раз такие деньжищи отваливать. Мне бы салон найти, где на прокат можно такой наряд взять. Поделитесь, пожалуйста, советами. 
                                .message__date вчера в 17.45
                            li.message.me
                                .message__avatar
                                    img(src="./images/avatar-1.png", alt="")
                                .message__text Поисковик вам в помощь! Но цена примерно в половину стоимости платья.
                                .message__date вчера в 18.45
                            li.message
                                .message__avatar
                                    img(src="./images/avatar-2.png", alt="")
                                .message__text Где взять на прокат вечернее красивое платье? А еще лучше дизайнерское! Предстоит участие в мероприятии, где все гости будут наверняка одеты в наряды "от кутюр", а у меня со средствами туговато
                                .message__date сегодня в 17.45
                            li.message.me
                                .message__avatar
                                    img(src="./images/avatar-1.png", alt="")
                                .message__text Поисковик вам в помощь! Но цена примерно в половину стоимости платья.
                                .message__date 18.45
                    footer
                        .footer
                            .footer__avatar
                                img(src="./images/avatar-1.png", alt="")
                            .footer__field
                                textarea#m(autocomplete="off" rows='4' max-rows='8' required)
                                button Отправить
            