*, *:before, *:after {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    background-color: #fff;
    color: #3e3e3e;
    font-family: "Arial", sans-serif;
    font-weight: 400;
}

.wrapper {
    width: 100%; 
    min-height: 100vh;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.chat {
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    height: 100%;
    min-height: 250px;
    max-height: 550px;
    border-radius: 6px;
    position: relative;
    box-shadow: 0.5px 0.866px 16.02px 1.98px rgba(52, 56, 63, 0.46);
    
    .header {
        border-bottom: 1px solid #ebebeb;

        .line {
            border-radius: 6px 6px 0 0;
            height: 12px; 
            background: url(../../images/header.png);
            background-repeat: no-repeat;   
        }
        &__info {
            padding: 16px 45px 16px 30px ;
            display: flex;
            flex-wrap: wrap;

            .header__info-name {
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;
                flex-flow: column;
                align-self: flex-start;
                padding-left: 15px;
                width: 100%;
                max-width: 390px;

                .name {
                    font-family: 'PT Sans', Arial, sans-serif;
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 20px;
                    color: #000;
                }
                .city {
                    font-family: Arial, sans-serif;
                    font-size: 16px;
                    line-height: 1;
                    color: #7f7f7f;
                    padding-top: 6px;
                }
            }
            .header__info-rating {
                ul {
                    margin: 0;
                    padding: 0;
                    display: inline-block;
                    width: 90px;

                    li {
                        list-style: none;

                        .star {
                            outline: none;
                            width: 17px;
                            height: 16px;
                            display: block;
                            float: left;
                            margin-left: 1px;
                            background: url(../../images/star.png) no-repeat;
                            background-size: cover;
                            transition: .15s ease-in;

                            &.active,
                            &:hover,
                            &:focus {
                                background: url(../../images/star-active.png) no-repeat;
                                background-size: cover;
                            }

                            &.active {
                                &:hover,
                                &:focus {
                                    background: url(../../images/star.png) no-repeat;
                                    background-size: cover;
                                }
                            }
                        }
                    }
                }
            }
        }
        
        &__close {
            position: absolute;
            right: 7px;
            top: 24px;

            a {
                cursor: pointer;

                &:hover {
                    opacity: .9;
                }
                img {
                    width: 23px;
                }
            }
        }
    }
    main {
        display: flex;
        flex-wrap: wrap;
        ul {
            margin: 0;
            padding: 0 30px 7px;

            &.messages_list { 
                overflow-y: auto;
                li {
                    list-style: none;
                    
                    &.message {
                        margin: 9px 0 0;
                        padding: 7px 15px;
                        display: flex;
                        border-radius: 3px;
                        transition: .35s ease-in;

                        .message__avatar {
                            img {
                                width: 30px;
                            }
                        }
                        .message__text {
                            padding: 0 14px;
                            margin: 0;
                            font-size: 14px;    
                            width: 100%;
                            word-break: break-word;

                            a {
                                color: #3399ff;
                                text-decoration: underline;
                            }
                        }
                        .message__date {
                            min-width: 95px;
                            font-size: 12px;
                            color: #7f7f7f;
                            text-align: right;
                        }

                        &.me {
                            margin: 14px 0 0;
                            background-color: #f7f5f7;
                        }

                        &.new_message {
                            background-color: #e9f2fa;
                        }
                    }
                }
            }
        }   
    }
    footer {
        .footer { 
            padding: 16px 45px 16px 30px;
            display: flex;
            background-color: #e9f2fa;
            width: 100%;
            border-radius: 0 0 6px 6px; 
            bottom: 0;
            left: 0;
            
            &__avatar {

            }
            &__field {
                padding-left: 15px;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;

                textarea {
                    outline: none;
                    width: 100%;
                    resize: none; 
                    font-size: 14px;
                    color: rgb(62, 62, 62);
                    line-height: 1.2;
                    text-align: left;
                    border: 1px solid rgba(2, 3, 2, 0.26);
                    border-radius: 3px;

                    &:focus {
                        border-color: rgb(72, 72, 72);
                    }
                }

                button {
                    outline: none;
                    cursor: pointer;
                    font-size: 16px;
                    line-height: 28px;
                    color: #3e3e3e;
                    border: 1px solid rgba(2, 3, 2, 0.26);
                    border-radius: 3px;
                    width: 135px;
                    height: 30px;
                    margin-top: 7px;
                    background: #d4d4d8;
                    background: -moz-linear-gradient(top, #d4d4d8 0%, #ffffff 100%);
                    background: -webkit-linear-gradient(top, #d4d4d8 0%,#ffffff 100%);
                    background: linear-gradient(to bottom, #d4d4d8 0%,#ffffff 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4d4d8', endColorstr='#ffffff',GradientType=0 );

                    &:hover,
                    &:focus {
                        border-color: rgb(72, 72, 72);
                    }
                }
            }
        }
    }
}